{% extends 'base.html' %}
{% block content %}
    <main>

        <section class="hero">
            <div class="wrapper hero-wrapper">
            <img src="{{ user.userprofile.image_profile.url }}" alt="" class="my_image hero__my_image">
            <span class="first_name">Имя: {{user.userprofile.first_name}}</span>
            <span class="last_name">Фамилия: {{user.userprofile.last_name}}</span>
            <span class="my_age">Возраст: {{user.userprofile.age}}</span>
            <p class="my_desc">О себе: {{user.userprofile.about_me}} </p>
            </div>
        </section>


    </main>
{% endblock %}